[Unit]
Description=portability-server celery beat
After=network.target redis-server.service

[Service]
User=@RUN_USER@
Group=@RUN_USER@
WorkingDirectory=@APP_DIR@
ExecStart=@APP_DIR@/venv/bin/celery -A portability_server beat -l info --schedule=@APP_DIR@/celerybeat-schedule
Restart=always

[Install]
WantedBy=multi-user.target
